
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  :root{
      --bg-color: #fdfdfd;
      --text-color: rgb(22, 18, 18);
      --main-color:rgb(223, 132, 132);
      --background:  rgb(200, 226, 243);
      --white-color: #fdfdfd;
      --shadow-color: rgba(248, 226, 226, 0.2);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    min-height: 100vh;
   /* overflow: hidden;*/
}
span{
    color: var(--text-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 0.1rem 1.5rem var(--shadow-color);
    
}
/* start menu icon*/
   #menu-icon{
      font-size: 3rem; 
      color: var(--text-color);
      display: none;
   }
/* end menu icon*/
.logo{
    width: 60px;
    pointer-events: none;
    border-radius: 30px;
    
}

.navigation a{
   text-decoration: none;
   color:var(--bg-color);
   padding: 6px 15px;
   border-radius: 20px;
   margin: 0 10px;
   font-weight: 700;
   font-size: 1.3rem;
   
}
.header.sticky .navigation a{
    color: var(--text-color);
}
.navigation a:hover,
.navigation a.active{
    background:var(--background);
    transition: all 0.5s ease;
    color: var(--text-color);
    cursor: url(images/smiley-face.png), pointer;
    
    
}
#darkMode-icon{
    font-size: 2rem;
    padding-right: 2rem;
    color: var(--bg-color);
    cursor: pointer;
}
.header.sticky #darkMode-icon{
    color:var(--text-color);
    opacity: .9;
}
.dark-mode{
    --background:#4b4953;
    --text-color: #fdfdfd;
    --shadow-color: rgb(241, 233, 233);
    --bg-color:#333;
    
    
}
/*.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#text {
    position: absolute;
    color:var(--bg-color);
    text-shadow: 2px 2px 4px rgba(0,0.0, 0.2);
    
    
    
}
.name{
    padding-left: 3rem;
    font-size: 5rem;
    
}
.skills{
    font-size: 2rem;
    padding-left: 3rem;
}
.home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    pointer-events: none;
    
    
}
#sea{
    margin-top: -0.9rem;
}
*/
.home-image{
    background-image: url(images/sea.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin: 0;
    filter: sepia(0.5);

}
.home-image #text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgb(100, 97, 97);
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home-image .name{
    border-bottom:  2px solid var(--bg-color);
    letter-spacing: 2px;
    padding-bottom: 0.7rem;
}
.home-image .skills{
    padding-top: 0.7rem;
}
.home-image .wrapper{
    width: 100%;
    height: 100%;
    
}
.home-image .wrapper div{
    width: 70px;
    height: 70px;
    border: 2px solid var(--white-color);
    position: absolute;
    
   
}
.wrapper div:nth-child(1){
    top: 15%;
    left: 30%;
    animation: square 5s linear infinite;
}
.wrapper div:nth-child(2){
    top: 20%;
    left: 50%;
    animation: square 8s linear infinite;
}
.wrapper div:nth-child(3){
    top: 65%;
    left: 15%;
    animation: square 9s linear infinite;
}
.wrapper div:nth-child(4){
    top: 55%;
    left: 40%;
    animation: square 11s linear infinite;
}
.wrapper div:nth-child(5){
    top: 40%;
    left: 60%;
    animation: square 7s linear infinite;
}
.wrapper div:nth-child(6){
    top: 80%;
    left: 30%;
    animation: square 13s linear infinite;
}
.wrapper div:nth-child(7){
    top: 10%;
    left: 10%;
    animation: square 12s linear infinite;
}
.wrapper div:nth-child(8){
    top: 20%;
    left: 85%;
    animation: square 8s linear infinite;
}
.wrapper div:nth-child(9){
    top: 70%;
    left: 65%;
    animation: square 9s linear infinite;
}
.wrapper div:nth-child(10){
    top: 75%;
    left: 85%;
    animation: square 7s linear infinite;
}
@keyframes square{
   0%{
       transform: scale(0) translateY(0) rotate(0);
       opacity: 1;
   }
   100%{
       transform: scale(1.2) translateY(-90px) rotate(360deg);
       opacity: 1;
   }
     
       
    
}



/* start about design */


.about{
    display: flex;
    align-content: center;
    background: var(--background);
    position: relative;
    
}
.about .about-content{
    position: absolute;
    max-width: 44rem;
    color: var(--text-color);
    top: 15%;
    
    
}
.about-content h3{
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.7;
}
.about-content h1{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}   
.about-content p{
    font-size: 1.2rem;
    margin-top: 1.2rem;
}
.about-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0.2rem 0.3rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.about-content .social-media a:hover{
background: var(--main-color);
color: var(--white-color);
}
.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background:var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 1rem;
    color: var(--white-color);
    letter-spacing: 1.5px;
    font-weight: 600;
    border: 0.2rem  solid transparent;
    transition: 0.5s ease;
    
    
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    cursor: url(images/smiley-face.png), pointer;
}

.about .profession-container{
    position: absolute;
    top: 37%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
    
    
}

.about .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionalRotate 25s linear infinite ;
   
}
@keyframes professionalRotate{
    from{
        transform: rotate(-360deg);}
    to{transform: rotate(360deg);}
}
.about .profession-box .profession {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    color: var(--main-color);
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 384px;
    background:var(--background);
    padding: 10px 0;
    text-align: center;
    
     
}
.about .profession-box .profession:nth-child(1),
.about .profession-box .profession:nth-child(2),
.about .profession-box .profession:nth-child(7),
.about .profession-box .profession:nth-child(8){
   margin-left: 15px;
}

.about .profession i{
    font-size: 3rem;
}
.about .profession h3{
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    
}
.about .profession-box .circle{
    width: 700px;
    height: 700px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    
    
}

.about .overlay{
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
   

}


/* end about design*/

.projects{
    padding:1rem;
    background:var(--background);
    
}

.projects span{
    color: var(--main-color);
    margin-left: 1.5rem;
    
}
.projects .project-container .heading{
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2rem;
    padding: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
}
.projects .project-container{
    
    display: flex;
    flex-direction: column;
   /* align-items: stretch;*/
    align-items: center;
    justify-content: center;
    margin: 2rem;
    
    
}
.projects .project-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projects .project-box{
    width: 400px;
    padding: 2rem;
    border: 2px solid rgb(143, 139, 139);
    margin: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s ease box-shadow;
    
}
.projects .project-box:hover{
    box-shadow: 0px 0px 20px var(--main-color);
}

.project-box img{
    margin-left: 1.1rem;
}
.project-layer{
    margin-top: 1.5rem;
    padding: 0.5rem;
    color: var(--text-color);
    
    
}
.project-layer h4{
    font-size: 1.2rem;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
.project-layer p{
    font-size: 1.1rem;
    

}
.project-layer .bx{
    margin-top: 1.2rem;
    float: right;
    font-size: 1.5rem;
    color:var(--text-color);
}

/* start contact section*/
.contact{
    
    align-items: center;
    justify-content: center;
    background:var(--background);
    text-align: center;
   
    
}
.contact .section-title{
    color: var(--text-color);
    font-size: 3rem;
    letter-spacing: 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    margin-top: 3rem;
}
.contact span{
    color: var(--main-color);
    margin-left: 1.5rem;
    
}
.contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .contact-items{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.contact .contact-items img{
    width: 100px;
    margin: 0 auto;
    
}
.contact .contact-item{
    width: 20%;
    margin: 2.5rem;
    padding: 2rem;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0 #0000002c;
    line-height: 2;
    border-radius: 10px;
    transition: 0.3s ease box-shadow;
}
.contact .contact-item:hover{
    box-shadow: 0px 0px 10px 0 var(--main-color);
}
/* end contact section*/

/* Start footer sectiion*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 9%;
    background: var(--main-color);
}
.footer p{
 font-size: 1.2rem;
 font-weight: 300;
 color: var(--bg-color);
}
.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    background: var(--white-color);
    border: 2px solid var(--main-color);
    outline: 2px solid transparent;
    outline-style: dotted;
    transition: 0.5s ease;
    border-radius: 50%;
    
}
.footer-icon a:hover{
    outline-color: var(--white-color);
}

.footer-icon i{
    font-size: 2rem;
    color:#333;
}
/* End footer section design*/


/* start Breakpoint */
@media(max-width:1600px){
    .about .profession-container .profession-box{
        right: -10rem;
        height: 45rem;
    }
    .about .profession-container{
        top: 32%;
    }
    .projects .project-container{
        margin-top: 10rem;
    }
}
@media(max-width:1440px){
    html{
        font-size: 80%;
    }
    .about .about-content{
        margin-top: 7rem;
    }
    
    .about .profession-container{
        top: 55%;
    }
     .about .profession-container .profession-box{
        right: -20rem;
        height: 60rem;
    }
    
    .about .overlay{
        right: -9rem;
    }
    .project-box img{
     margin-left: 2rem;
     margin-top: 1.5rem;
    }
    
}
@media(max-width:1366px){
    
    .about .profession-container{
        top: 35%;
    }
    .about .about-content{
        margin-top: 2rem;
    }
    
}

 @media(max-width: 1112px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .about .about-content{
        margin-top: 4rem;
    }
    .about .profession-container{
        top: 40%;
    }
    .about .profession-container .profession-box{
        right: -28rem;
    }
    
    .about .profession-container .overlay{
        right: -15rem;
    }
    
     .about .profession-container .profession h3{
        font-size: 15px;
    }
    .projects .project-container{
        margin-top: 15rem;
    }
    
    .contact .section-title{
        margin-top: 5rem;
    }
    .contact .contact-item{
        width: 30%;
    }

}
@media screen and (max-width: 1024px){
     .home-image #text{
        margin-top: 35rem;
        font-size: 1.2rem;
    }
    .about .about-content{
        max-width: 35rem;
        margin-top: 20rem;
    }
    .about .profession-container{
        top: 50%;
    }
    .about .profession-container .profession-box{
        right: -30rem;
    }
    .about .profession-container .overlay{
        right: -19.5rem;
    }
}
@media(max-width: 912px){
    .home-image #text{
        margin-top: 30rem;;
    }
    .about .about-content{
        max-width: 35rem;
        margin-top: 6rem;
    }
    .about .profession-container{
        top: 70%;
    }
    .about .profession-container .profession-box{
        right: -35rem;
    }
   
}
/*@media(max-width: 820px){
   .about .profession-container{
        top: 32%;
    } 
    .about .about-content{
        margin-top: 1.5rem;
    }
}*/


@media (max-width:820px){
    
    #menu-icon{
        display: block;
        margin-right: 3rem;
    }
    #darkMode-icon{
        position: absolute;
        right: 9rem; 
        font-size: 2.6rem;
        margin-bottom: 0.1rem;
    }
    .header .logo{
        width:50px;
        margin-left: 2rem;
    }
    .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        display: none;
       
    }
    .navigation.active{
        display: block;
    }
    .navigation a{
        display: block;
        font-size: 2rem;
        margin: 3rem 6rem;
        color: var(--text-color);
        
    }
    .navigation a::before{
        display: none;
    }
    .home-image #text{
        margin-top: 25rem;
    }
    .about {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    } 
    
    .about-content h3{
        font-size: 2.6rem;
        
    }
    .about-content h1{
        font-size: 3.5rem;
    }
    .about-content p{
        padding: 10px;
    }
    
   .about .profession-container{
        left: 0;
        width: 100%;
        height: 100%;
        
    }
   .about .profession-container .profession-box{
        position: fixed;
        top: 58%;
        left: 32%; 
        width: 300px;
        height: 300px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       /* border: 2px solid var(--text-color); */
        
    } 
     .about .profession-box .profession{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }
    .about .profession h3{
        font-size: 12px;
    }
    .about .profession-box .profession:nth-child(1){
        transform: rotate(-70deg) translate(-40px,-180px);
        
    }
    .about .profession-box .profession:nth-child(1){
        margin-right: 0;
        
    }
    .about .profession-box .profession:nth-child(2){
        transform: rotate(-120deg) translate(-70px,-180px);
        
    }
    .about .profession-box .profession:nth-child(3){
        transform: rotate(-170deg) translate(-100px,-190px);
        
    } 
    .about .profession-box .profession:nth-child(4){
        transform: rotate(-200deg) translate(-80px,-210px);
        
    }
    .about .profession-box .profession:nth-child(5){
        transform: rotate(-240deg) translate(-80px,-230px);
        
    }
    .about .profession-box .profession:nth-child(6){
        transform: rotate(-300deg)translate(-40px,-240px);
    } 
    
    .about .profession-box .profession:nth-child(7){
        transform: rotate(-340deg) translate(-40px, -210px);
    } 
    .about .profession-box .profession:nth-child(8){
        transform: rotate(-380deg) translate(-40px, -200px);
    } 
    .about .profession-box .circle{
        position: fixed;
        width: 400px;
        height: 400px;
        z-index: -1; 
        
        
    } 
    
    .about .profession-container .overlay{
        position: fixed;
        top: 80%;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-80%,50%) scaleY(2);
        border-width: 25rem; 

    }
    .projects .heading span{
        display: inline-block;
    }
  
    
    .contact .contact-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 20vh;
        
    }
    .contact .contact-item{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }
}
  /* @media (max-width:617px){
       .projects .project-box{
        width: 370px;
        padding: 2rem;
        margin: 2rem;
       }
       .about .profession-container .profession-box{
           left: 25%;
       }
   
      .projects .project-box img{
          width: 280px;
      }
      .projects .project-layer p{
          font-size: 1.4rem;;
      }
      
   } */
   @media screen and (max-width:768px){
       .about .profession-container .overlay{
        top: 80%;
        transform: rotate(90deg) translate(-50%,50%) scaleY(2);
      
       }
       .about .profession-container .profession-box{
           top: 70%;
       }
   }
   @media screen and (max-width:480px){
       html{
        font-size: 50%;
       }
       #menu-icon{
       margin-right: 7rem;
    }
      #darkMode-icon{
        right: 14rem; 
    }
     .header .logo{
        width:40px;
    }
    .home-image #text{
        margin-top: 40rem;
    }
     .about .about-content{
       margin-top: 3rem;
    }
    .about .about-content h1{
        font-size: 22px;
        line-height: 2;
    }
      .about .profession-container .overlay{
        top: 75rem;
        transform: rotate(90deg) translate(-58%,50%) scaleY(2);
         border-width: 41rem; 
       }
       .about .profession-container .profession-box{
           top: 55%;
           left: 13%;
       }
       .projects .project-container{
           margin-top: 12rem;
       }
       .projects .project-container .heading{
           margin-top: 8rem;
       }
       
       .projects .project-box{
           width: 340px;
       }
       .projects .project-box img{
          width: 240px;
          margin-left: 3.2rem;
      }
      .contact .contact-item{
          widows: 80%;
      }
     .contact .contact-items img{
         width: 50px;
     }
     .contact .section-title{
           padding: 2rem;
       }
    }
    @media screen and (max-width:414px){
       .home-image #text{
         margin-top: 40rem;
         font-size: 1.5rem;
        }
        .about .profession-container .profession-box{
        top: 62%;
        } 
        .about .profession-container .overlay{
         top: 77%;
         transform: rotate(90deg) translate(-67%,50%) scaleY(2);
         border-width: 37rem;
        }
        .contact .container{
            margin-top: -5rem;
        }
    }
    @media screen and (max-width:412px){
        
        .about .profession-container .overlay{
         border-width: 40rem;
        }
        .projects .project-container{
            margin-top: 18rem;
        }
    }
    @media (max-width:375px){
        
        .home-image #text{
        margin-top: 25rem;
        }
        .about .profession-container .profession h3{
        font-size: 10px;
        }
        .about .profession-container .profession-box{
        top: 70%;
        left: 10%;
        } 
        .about .profession-container .overlay{
         top: 75%;
         transform: rotate(90deg) translate(-50%,50%) scaleY(2);
         border-width: 25rem;
        }
        
        
    }
    @media screen and (max-width:360px){
      #menu-icon{
       margin-right: 8rem;
      }
      #darkMode-icon{
        right: 13rem; 
       }
        .home-image #text{
        margin-top: 30rem;
       }
        
        
        
    }
 /*   @media (max-width:412px){
        .home-image #text{
         margin-top: 40rem;
        }
         .about .profession-container .profession-box{
            top: 50%;
        }
        
        .about .profession-container .overlay{
        transform: rotate(90deg) translate(-50%,50%) scaleY(2);
         border-width: 36rem; 
       }
        

    }
    @media (max-width:393px){
       .about .profession-container .profession-box{
            top: 55%;
            left: 14%;
        }
        .about .profession-container .overlay{
        transform: rotate(90deg) translate(-40%,50%) scaleY(2);
        border-width: 32rem;
       }
       
       
    }
    @media (max-width:375px){
         #menu-icon{
       margin-right: 6rem;
    }
      #darkMode-icon{
        right: 10rem; 
    }
        .home-image #text{
        margin-top: 25rem;
    }
        .about .about-content{
            margin-top: 3rem;
        }
        .about .profession-container .profession-box{
            top: 85%;
            left: 10%;
        }
        .about .profession-container .overlay{
            transform: rotate(90deg) translate(-45%,50%) scaleY(2);
        }
    }
    @media(max-width:360px){
        
        .about .profession-container .profession h3{
        font-size: 10px;
        }
        .about .profession-container .profession-box{
        top: 82%;
        } 
        .about .profession-container .overlay{
         transform: rotate(90deg) translate(-72%,50%) scaleY(2);
        }
    }
    @media(max-width:320px){
        #menu-icon{
       margin-right: 2rem;
    }
      #darkMode-icon{
        right: 6rem; 
    }
        .home-image #text{
        margin-top: 15rem;
    }
        .about .about-content h1{
        font-size: 20px;
        line-height: 2;
       }
       .about .profession-container .profession-box{
        top: 80%;
        left: 6%;
        
        } 
        .about .profession-container .overlay{
         transform: rotate(90deg) translate(-75%,50%) scaleY(2);
        }
        
        .projects .project-box{
         width: 300px;
         padding: 2rem;
         margin: 2rem;
        }
        .projects .project-box img{
          width: 200px;
          }
        .contact .contact-item{
          width: 80%;
        }

    }
    
*/



/* End breakpoint*/








