
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  :root{
      --bg-color: #fdfdfd;
      --text-color: rgb(22, 18, 18);
      --main-color:rgb(223, 132, 132);
      --background:  rgb(127, 166, 192);
      --white-color: #fdfdfd;
      --shadow-color: rgba(248, 226, 226, 0.2);
      --span-color:#e5cbed;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    min-height: 100vh;
   /* overflow: hidden;*/
}
span{
    color: var(--text-color);
    font-weight: bold;
}
header{
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
    
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 0.1rem 1.8rem var(--shadow-color);
}
/* start menu icon*/
   #menu-icon{
      font-size: 3rem; 
      color: var(--text-color);
      display: none;
   }
/* end menu icon*/
.logo{
    width: 60px;
    pointer-events: none;
    border-radius: 30px;
    
}

.navigation a{
   text-decoration: none;
   color:var(--bg-color);
   padding: 6px 15px;
   border-radius: 20px;
   margin: 0 10px;
   font-weight: 700;
   font-size: 1.3rem;
   
}
.header.sticky .navigation a{
    color: var(--text-color);
}
.navigation a:hover,
.navigation a.active{
    background:var(--background);
    transition: all 0.5s ease;
    color: var(--text-color);
    cursor: url(images/smiley-face.png), pointer;
    
    
}
#darkMode-icon{
    font-size: 2rem;
    color: var(--bg-color);
    cursor: pointer;
}
.header.sticky #darkMode-icon{
    color:var(--text-color);
    opacity: .9;
}
.dark-mode{
    --background:#4b4953;
    --text-color: white;
    --shadow-color: rgb(241, 233, 233);
    --bg-color:#333;
}

/*.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#text {
    position: absolute;
    color:var(--bg-color);
    text-shadow: 2px 2px 4px rgba(0,0.0, 0.2);
    
    
    
}
.name{
    padding-left: 3rem;
    font-size: 5rem;
    
}
.skills{
    font-size: 2rem;
    padding-left: 3rem;
}
.home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    pointer-events: none;
    
    
}
#sea{
    margin-top: -0.9rem;
}
*/
.home-image{
    background-image: url(images/sea.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin: 0;
    filter: sepia(0.5);

}
.home-image #text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgb(100, 97, 97);
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home-image .name{
    border-bottom:  2px solid var(--bg-color);
    letter-spacing: 2px;
    padding-bottom: 0.7rem;
}
.home-image .skills{
    padding-top: 0.7rem;
}
.home-image .wrapper{
    width: 100%;
    height: 100%;
    
}
.home-image .wrapper div{
    width: 70px;
    height: 70px;
    border: 2px solid var(--white-color);
    position: absolute;
    
   
}
.wrapper div:nth-child(1){
    top: 15%;
    left: 30%;
    animation: square 5s linear infinite;
}
.wrapper div:nth-child(2){
    top: 20%;
    left: 50%;
    animation: square 8s linear infinite;
}
.wrapper div:nth-child(3){
    top: 65%;
    left: 15%;
    animation: square 9s linear infinite;
}
.wrapper div:nth-child(4){
    top: 55%;
    left: 40%;
    animation: square 11s linear infinite;
}
.wrapper div:nth-child(5){
    top: 40%;
    left: 60%;
    animation: square 7s linear infinite;
}
.wrapper div:nth-child(6){
    top: 80%;
    left: 30%;
    animation: square 13s linear infinite;
}
.wrapper div:nth-child(7){
    top: 10%;
    left: 10%;
    animation: square 12s linear infinite;
}
.wrapper div:nth-child(8){
    top: 20%;
    left: 85%;
    animation: square 8s linear infinite;
}
.wrapper div:nth-child(9){
    top: 70%;
    left: 65%;
    animation: square 9s linear infinite;
}
.wrapper div:nth-child(10){
    top: 75%;
    left: 85%;
    animation: square 7s linear infinite;
}
@keyframes square{
   0%{
       transform: scale(0) translateY(0) rotate(0);
       opacity: 1;
   }
   100%{
       transform: scale(1.2) translateY(-90px) rotate(360deg);
       opacity: 1;
   }
}



/* start about design */
   #about-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--background);
    
   }
   #about-wrapper .about-left{
    align-items: center;
    justify-content: center;
   }
   #about-wrapper .about-left-content > div{
    background: var(--span-color);
    padding: 3rem 3rem 2rem 3rem;
    text-align: center;
   }
   #about-wrapper .about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    margin-top: 4.5rem;
   }
   #about-wrapper .about-me-image{
    overflow: hidden;
    transition: all 0.3s ease-in-out;

   }
   #about-wrapper .about-me-image img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: sepia(0.5);
   
   }
   #about-wrapper .shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
   }
   #about-wrapper .shadow::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  height: 7px;
  width: 50px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0;
  transition: all 0.6s ease;
}
#about-wrapper .shadow:hover .about-me-image {
  transform: translateY(-10px);
}
#about-wrapper .about-left-content h2 {
  font-size: 18px;
  margin: 2.2rem 0 0.6rem 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid white;
}
#about-wrapper .about-left-content h3 {
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 1.2rem;
  color: var(--span-color);
  background-image: linear-gradient(60deg,#711414,#ffb03a);
  background-clip: text;
  color: transparent;
}
#about-wrapper .icons {
  background: rgb(219, 209, 211);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0;
}
#about-wrapper .icons li {
  list-style: none;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#about-wrapper ul li img {
  width: 2.2rem;
  filter: grayscale(0);
  transition: 0.5s ease filter;
}
#about-wrapper ul li img:hover {
  filter: grayscale(1);
}
#about-wrapper .about-right {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 0 3rem;
  
}
#about-wrapper .section-title{
    font-size: 2.5rem;
    letter-spacing: 1.2rem;
}
#about-wrapper .about-right h1 {
  text-transform: uppercase;
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 10px;
  text-align: center;
}
#about-wrapper .about-right h1 span {
  color: var(--span-color);
}
#about-wrapper .about-right h2 {
  color: var(--text-color);
  font-weight: 300;
  font-size: 20px;
  padding: 5px 0;
}
#about-wrapper .about-right h2 span {
  color:var(--span-color);
}

#about-wrapper .about-btns {
  position: relative;
  margin: 1rem 1rem;
}
#about-wrapper .btn {
  border: none;
  border: 2px solid gray;
  text-transform: capitalize;
  font-size: 15px;
  margin: 0 0.5rem;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 85px;
  height: 40px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
}
#about-wrapper .about-btns .btn-pink {
  background-color:var(--span-color);
  
  border-color:var(--span-color);
  transition: all 0.8s ease-in-out;
}
#about-wrapper .btn-pink a{
color: white;
}

#about-wrapper .about-btns .btn-pink:hover {
  background: transparent;
  border-collapse: var(--span-color);
}
#about-wrapper .btn-pink a:hover{
    color: black;
    
}
#about-wrapper .about-btns .btn-white{
 transition: all 0.8s ease-in-out;
}
#about-wrapper .about-btns .btn-white a{
  color:var(--text-color);
}

#about-wrapper .about-btns .btn-white:hover {
  background: var(--span-color);
  border-color:var(--span-color);
  color: white;
}

#about-wrapper .about-description p {
  color:var(--text-color);
  font-size: 20px;
  letter-spacing: 0.2px;
  opacity: 0.6;
  text-align: left;
  text-indent: 20px;
}

/*start technical skills*/
.technical-skills{
    background: var(--background);
}
.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}
.icon-container {
  width: 5rem;
  height: 5rem;
  border: 3px solid #eade83;
  background-color: var(--span-color);
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}
.icon-container img {
  color: #ffe838;
  font-size: 2rem;
  margin: auto;
  transform: rotate(-45deg);
}
 .technical-skills .section-heading{
    color: var(--text-color);
    font-size: 2rem;;
    font-weight: 700;
    letter-spacing: 2rem;
    margin-bottom: 3.5rem;
    text-align: center;
    text-transform: uppercase;
}
.technical-skills span{
    color: var(--span-color);
}
.technical-skills h3{
    color: var(--text-color);
}

/*start portfolio*/


/* end about design*/

.projects{
    padding-bottom: 3rem;
    background:var(--background);
    
}

.projects span{
    color: var(--span-color);
    margin-left: 1.5rem;
    
}
.projects .section-heading{
    color: var(--text-color);
    font-size: 2rem;;
    font-weight: 700;
    letter-spacing: 2rem;
    margin-bottom: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    
}
.projects .container{
    display: flex;
    flex-direction: column;
   /* align-items: stretch;*/
    align-items: center;
    justify-content: center;
    margin: 2rem;
    
    
}
.projects .project-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects .project-box{
    width: 400px;
    padding: 2rem;
    border: 2px solid rgb(143, 139, 139);
    margin: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s ease box-shadow;
    
}
.projects .project-box:hover{
    box-shadow: 0px 0px 20px var(--span-color);
}

.project-box img{
    margin-left: 1.1rem;
    width: 300px;
}
.project-box ol{
    margin-left: 20px;
}
.project-box h5{
    margin-top: 10px;
}
.project-layer{
    margin-top: 1.5rem;
    padding: 0.5rem;
    color: var(--text-color);
    
    
}
.project-layer h4{
    font-size: 1.2rem;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
.project-layer p{
    font-size: 1.1rem;
    

}
.project-layer .bx{
    margin-top: 1.2rem;
    float: right;
    font-size: 1.5rem;
    color:var(--text-color);
}



/* Start footer sectiion*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 9%;
    background: var(--span-color);
}
.footer p{
 font-size: 1.2rem;
 font-weight: 300;
 color: var(--bg-color);
}
.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    background: var(--white-color);
    border: 2px solid var(--main-color);
    outline: 2px solid transparent;
    outline-style: dotted;
    transition: 0.5s ease;
    border-radius: 50%;
    
}
.footer-icon a:hover{
    outline-color: var(--white-color);
}

.footer-icon i{
    font-size: 2rem;
    color:#333;
}
/* End footer section design*/


/* start Breakpoint */

@media(max-width:1400px){
    html{
        font-size: 90%;
    }
    
    .project-box img{
     text-align: center;
     
    }
    #about-wrapper{
    grid-template-columns: repeat(1,1fr);
   }
   #about-wrapper .about-right{
    margin-top:3rem;
   }
}

 @media(max-width: 1024px){
    
    
    .project-box img{
     margin-left: 3rem;
     margin-top: 1.5rem;
    }
    .projects .project-container .heading{
        margin-top: 5rem;
    }
    


 }
 
@media(max-width:1000px){
    .projects .project-box img{
        margin-left: 20px;
    }
}
@media (max-width:768px){
    
    #menu-icon{
        display: block;
        }
    #darkMode-icon{
        position: absolute;
        right: 3rem; 
        font-size: 2.6rem;
        margin-bottom: 0.1rem;
    }
    .header .logo{
        width:50px;
        
    }
    .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        display: none;
       
    }
    .navigation.active{
        display: block;
    }
    .navigation a{
        display: block;
        font-size: 2rem;
        margin: 3rem 6rem;
        color: var(--text-color);
        
    }
    .navigation a::before{
        display: none;
    }
    .icon-container {
         width: 4rem;
         height: 4rem;
    }
     .my-skills {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(12rem, 3fr));
         grid-gap: 1.5rem;
    }
}
   
   @media (max-width:450px){
       html{
           font-size: 50%;
       }
       .header .logo{
        position: relative;
        left: -7rem;
       }
      #darkMode-icon{
        position: absolute;
    }
      .icon-container {
         width: 6rem;
         height: 6rem;
    }
     .projects .project-box{
           width: 340px;
       }
       .projects .project-box img{
          width: 260px;
      }
      .projects .project-layer p,h4,h5,li{
        font-size: 1.6rem;;
       }
        
       
    }
    @media(max-width:365px){
       
        
       

    }
  




/* End breakpoint*/








